.flex_a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html {
  font-size: 100px;
}
body {
  font-family: "Microsoft Yahei", "微软雅黑";
}
@media screen and (width: 320px) {
  html {
    font-size: 42.66666666666667px;
    /*320/750*100*/
  }
}
@media screen and (width: 375px) {
  html {
    font-size: 50px;
    /*375/750*100*/
  }
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
i {
  font-style: normal;
}
em {
  font-style: normal;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px/20px "SimSun", "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  text-decoration: none;
  color: #666666;
}
body {
  background-color: #ccc;
}
header {
  padding-left: 0.3rem;
  padding-right: 0.38rem;
  color: #fff;
  font-size: 0.28rem;
  height: 0.92rem;
  background-color: #FA3432;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .iconfont {
  color: #fff;
  font-size: 0.4rem;
}
section {
  font-size: 0.28rem;
  color: #8d8b8b;
  margin: 0.2rem 0.2rem 0.3rem 0.2rem;
  background-color: #ccc;
}
section .first {
  color: #f40;
  margin-bottom: 0.2rem;
  margin-top: 0.3rem;
}
body {
  font-family: "Microsoft Yahei", "微软雅黑";
  background-color: #f9f9f9;
}
.c3 {
  color: #ccc;
}
footer {
  background-color: #fff;
  height: 1.65rem;
  border-top: 1px solid #ccc;
  margin-top: 0.23rem;
  font-size: 0.28rem;
  padding-top: 0.45rem;
}
footer p {
  text-align: center;
  color: #494848;
}
footer .copyright {
  margin-top: 0.2rem;
  color: #9a9b9c;
  font-size: 0.26rem;
}
.mask {
  display: none;
  position: absolute;
  top: 0.92rem;
  bottom: 1.05rem;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.mask .links {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.1rem;
}
.mask .links a {
  flex: 1 1 auto;
  text-align: center;
  color: red;
  font-size: 0.2rem;
  border-right: 1px solid red;
}
.mask .links a:last-child {
  border-right: none;
}
.mask .links .iconfont {
  display: block;
  margin-bottom: 0.1rem;
  font-size: 0.4rem;
}
